.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'

@keyframes up-down-icon
  0%
    transform: translate(0, 0)

  50%
    transform: translate(0, -30%)

  100%
    transform: translate(0, 0)


@keyframes word-in
  0%
    transform: scale(0)

  80%
    transform: scale(1.1)

  100%
    transform: scale(1)


html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit
  padding: 0
  margin: 0

body
  font-size: 16px
  color: white
  font-family: sans-serif
  background-color: rgb(20,20,20)

main
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  overflow: hidden


  [class^="scroll-view-"]
    background-color: rgb(20,20,20)
    width: 100%
    height: 100vh
    transition: transform ease .3s
    transform: translate(0, var(--scroll-position, 0))

  .scroll-view-1
    z-index: 100
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .scroll-hint

      span
        padding:
        display: block
        text-align: center

      .scroll-hint-text
        font-size: 3rem

      .down-icon
        margin-top: 30%
        animation-name: up-down-icon
        animation-duration: 1s
        animation-delay: .3s
        animation-iteration-count: infinite

        i
          font-size: 3rem

  .scroll-view-2
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .illuminati
      position: absolute
      max-width: 50%
      bottom: 0
      left: 0
      opacity: 0

      img
        width: 100%

    .items
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      height: 100%
      width: 100%

      .item
        position: absolute
        max-width: 30%

        img
          width: 100%

      .just-do-it
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: auto
        max-width: 50%
        min-width: 300px
        transform: translate(0, 100%)

        img
          width: 100%

      .white-circle
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) scale(0)
        background-color: rgb(40,40,40)
        border-radius: 50%
        width: 50%
        min-width: 400px

        .inner-white-circle
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          padding: 100%
          margin: auto

        &::before
          content: ''
          display: block
          padding-top: 100%

      .snoop-dogg
        bottom: 0
        left: 0
        transform: translate(0, 100%)

      .frog
        top: 0
        right: 0
        transform: rotate(180deg) rotateY(180deg) translate(0, 100%)
        visibility: hidden

      .tadeus
        visibility: hidden
        top: 0
        left: 0
        // right: 0
        margin: auto
        max-width: 20%
        transform: rotate(180deg) translate(0, 100%)

      .unicorn
        right: 0
        bottom: 0
        transform: translate(0, 100%)
        max-width: 50%
        width: 100%


    [class^="word-"]
      transform: scale(0)
      padding: 2rem

    .word
      font-size: 3rem
      text-transform: uppercase

    &.active

      $base-delay: 3s
      $snoop-delay: $base-delay + 2s
      $frog: $snoop-delay + .5s
      $tadeus: $frog + .5s
      $unicorn: $tadeus + .5s


      .illuminati
        position: fixed
        opacity: .05
        transition: opacity ease 10s 3s, transform ease 20s 13s
        transform: scale(1.5)

      .item
        visibility: visible

      .just-do-it
        transform: translate(0, 0)
        transition: transform ease .3s $base-delay

      .white-circle
        transform: translate(-50%, -50%) scale(1)
        transition: transform ease .3s .5s

      .snoop-dogg
        transition: transform ease .3s $snoop-delay
        transform: translate(0, 0)

      .frog
        visibility: visible
        transform: rotate(180deg) rotateY(180deg) translate(0, 0)
        transition: visibility ease 0s $frog, transform ease .3s $frog

      .tadeus
        visibility: visible
        transform: translate(0, 0) rotate(180deg)sta
        transition: visibility ease 0s $tadeus, transform ease .3s $tadeus

      .unicorn
        transform: translate(-10%, 20%)
        transition: transform ease .5s $unicorn

      [class^="word-"]
        animation-name: word-in
        animation-duration: .3s
        animation-delay: 1s
        animation-fill-mode: forwards

      .word-1

      .word-2
        animation-delay: 1.3s

      .word-3
        animation-delay: 2.1s
